apiVersion: v1
kind: ServiceAccount
metadata:
  name: devenv-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app.kubernetes.io/name: devenv
    app.kubernetes.io/component: user
    developer: {{.Name}}
