apiVersion: v1
kind: ConfigMap
metadata:
  name: user-config-{{.Name}}
  labels:
    app: devenv-{{.Name}}
data:
  username: "{{.Name}}"
  user-id: "{{if .UID}}{{.UID}}{{else}}1000{{end}}"
  is-admin: "{{.IsAdmin}}"
  git-name: "{{.Git.Name}}"
  git-email: "{{.Git.Email}}"
{{- if gt (len (.GetSSHKeys)) 0}}
  ssh-keys: |
{{- range .GetSSHKeys}}
    {{.}}
{{- end}}
{{- end}}
{{- if gt (len .Packages.Python) 0}}
  python-packages: |
{{- range .Packages.Python}}
    {{.}}
{{- end}}
{{- end}}
{{- if gt (len .Packages.APT) 0}}
  apt-packages: |
{{- range .Packages.APT}}
    {{.}}
{{- end}}
{{- end}}